<h1>Home#performer</h1>
<div>
  <% if current_performer %>
    Signed in as <strong><%= current_performer.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", rel: "external" %>
  <% end %>
</div>

