<h1 class="title">Performers Near You</h1>

<div id="performersCon">

</div>

<div id="loginCon">	
	<%= link_to "Performers", {:controller => "performers", :action => "login"}, :id => "performerLogin" %>
</div>

