.performer
  height: 100%
  .top
    margin-top: 50px
    text-align: center
    height: 20%
    width: 100%
    display: table
    .street_name
      font-size: 5em
      margin-bottom: 20px
    .rating
      i
        margin: 10px
  .middle
    height: 35%
    table 
      position: relative
      margin: auto
      margin-top: 50px
      font-size: 2em
      font-weight: 200
      margin-top: 50px
      td.first
        text-align: center
        width: 100px
        line-height: 2.5em
        i.icon-large
          font-size: 2em
      div
        font-weight: 200
        font-size: 1.8em
        margin: 20px
  .bottom
    height: 40%
    form
      input.ui-btn-hidden
        padding: 0px
        width: 100%
        height: 100%
      span.ui-btn-inner
        border: none
      div.ui-submit
        border: none
        background: none
        border-radius: 0px
        background-image: url('pay.png')
        background-size: 100%
        background-repeat: no-repeat
        background-position: center
        box-shadow: none
        top: 0px
        margin: auto
        width: 400px
        height: 400px
    input
      width: 60px
