.performer
  height: 100%
  .top
    text-align: center
    height: 20%
    width: 100%
    .street_name
      font-size: 3em
      margin-bottom: 10px
    .rating
      i
        margin: 5px
  .middle
    table 
      position: relative
      margin: auto
      height: 35%
      font-size: 2em
      font-weight: 200
      td.first
        text-align: center
        width: 46px
        line-height: 1.7em
        i.icon-large
          font-size: 0.8em
      div
        font-weight: 200
        font-size: 1.8em
        margin: 20px
  .bottom
    height: 40%
    form
      input.ui-btn-hidden
        padding: 0px
        width: 100%
        height: 100%
      span.ui-btn-inner
        border: none
      div.ui-submit
        border: none
        background: none
        border-radius: 0px
        background-image: url('pay.png')
        background-size: 100%
        background-repeat: no-repeat
        background-position: center
        box-shadow: none
        top: 100px
        margin: auto
        width: 200px
        height: 200px
    input
      width: 60px
