.tip_page
  .quarter
    z-index: 10
    position: absolute
    width: 50px
    height: 50px
    background-image: url('quarter.png')
    background-size: 100%
  height: 100%
  text-align: center
  .top
    height: 20%
    margin: 20px 0px
    span.header
      font-weight: 200
      font-size: 2.7em
    span.tips
      font-weight: 200
      font-size: 4em
  .middle
    height: 60%
    img
      z-index: 20
      margin-top: 50px
      width: 250px
  .bottom
    height: 20%
    span#tip_total
      font-size: 4em
